.d {
  background-color: black;
  width: 20px;
  height: 20px;
  transition: 1.5s ease;
  display: inline-block;
  margin: -2px;
  color: white;
}

div:hover {
  opacity: 0;
  transition: 80ms ease;
}

img {
  width: 100px;
  position: absolute;
  z-index: -3;
  opacity: 1;
}

#guy_container {
  height: 20px;
  width: 20px;
  z-index: 3;
  position: absolute;
}

#guy {
  width: 300px;
}

h1 {
  font-style: italic;
  margin: auto 0;
}
